footer{
    width: auto;
    padding: 0 16px;
}

.footer-title{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link{
    width: 48px;
    height: 48px ;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__item:nth-child(2),
.social__item:first-child{
    margin-right: 6px;
}
.developer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.developer a{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    display: block;
    background-color: transparent;
}

@media (min-width: 768px) /* Tablet */{
    footer{
        width: auto ;
        padding: 0 20px;
        display: flex;
    }
}