/* Mobile */
    body {
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        position: relative;
        width: auto;
        padding: 0 16px;
    }

    .navigation {
        position: relative;
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        color: #ffffff;
    }

    /*.main-navigation--mobile-off {
    display: none;
    }*/
    .navigation__list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .navigation__item {
        display: flex;
        justify-content: center;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .navigation__button--close {
        position: absolute;
        right: 20px;
        top: 17px;
        width: 22px;
        height: 22px;
    }

    .header-mobile__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }


    .navigation__button {
        position: absolute;
        width: 23px;
        height: 23px;
        right: 18px;
    }


    .header__gallery {
        min-height: 389px;
    }


@media (min-width: 768px) /* Tablet */ {

    header {
        display: flex;
        width: auto;
        padding-left: 64px;
        padding-right: 64px;
        position: relative;
    }


    .header-mobile__wrapper {
        width: auto;
        display: flex;
        position: absolute;
        left: 44%;
   }

    .navigation__button {
        display: none;
    }

    .navigation__button--close {
        display: none;
    }

    .navigation__list {
        flex-direction: row;
        justify-content: center;
    }

    .navigation__item:first-child {
        margin-right: auto;
        padding-left: 49px;
    }

    .navigation__item:last-child {
        margin-left: auto;
        padding-right: 27px;
    }

    .navigation__item:nth-child(2) {
        margin-right: 25%;
    }

    .header__gallery {
        height: 517px;
    }
}

@media (min-width: 1024px) /* Desktop */ {

    .navigation__item:first-child {
        margin-right: auto;
        padding-left: 91px;
    }

    .navigation__item:last-child {
        margin-left: auto;
        padding-right: 71px;
    }
    .header__gallery{
        height: 490px;
    }
}


