/* Mobile */
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    padding: 0 16px;
}

.navigation__wrapper {
    display: block;
}


.navigation {
    position: relative;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #ffffff;
}

.navigation__list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigation__item {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.navigation__button--close {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 22px;
    height: 22px;
}

.mobile-wrapper {
    height: 56px;
    display: flex;
    justify-content: center;
    position: relative;
}

.navigation__button {
    position: absolute;
    width: 21px;
    height: 23px;
    right: 18px;
    top: 35%;
}

.header__gallery {
    width: 320px;
    height: 389px;
    margin: 0 auto;
    background-image: url("../img/header-back__mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
}


@media (min-width: 768px) /* Tablet */ {

    header {
        display: flex;
        width: auto;
        padding-left: 64px;
        padding-right: 64px;
        position: relative;
    }

    .mobile-wrapper {
        position: absolute;
        left: 45%;
    }

    .navigation__wrapper {
        display: block;
    }

    .navigation__list{
        height: 56px;
        display: flex;
        align-items: center;
    }

    .navigation__item{
        padding: 0;
    }

    .navigation__button {
        display: none;
    }

    .navigation__button--close {
        display: none;
    }

    .navigation__list {
        flex-direction: row;
        justify-content: center;
    }

    .navigation__item:first-child {
        margin-right: auto;
        padding-left: 49px;
    }

    .navigation__item:last-child {
        margin-left: auto;
        padding-right: 49px;
    }

    .navigation__item:nth-child(2) {
        margin-right: 25%;
    }

    .header__gallery {
        width: 100%;
        height: 418px;
        background-image: url("../img/header-back__tablet.jpg");
        background-position: center;
    }
}

@media (min-width: 1024px) /* Desktop */ {

    .navigation__item:first-child {
        margin-right: auto;
        padding-left: 91px;
    }

    .navigation__item:last-child {
        margin-left: auto;
        padding-right: 91px;
    }

    .header__gallery {
        width: 100%;
        height: 518px;
        background-image: url("../img/header-back__desktop.jpg");
        background-position: center;
        background-size: cover;
    }
}


