
.main-title {
    width: 288px;
    margin: 0 auto;
}

.main__decorate-element {
    width: 320px;
    height: 0;
    margin: 0 auto;
    position: relative;
}

.main__decorate-element:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right: 170px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    position: absolute;
    top: -39px;
    right: -1px;
}

.main__decorate-element:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left: 170px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    position: absolute;
    top: -39px;
    left: -1px;
}

.main-title h1 {
    width: 268px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-title p {
    width: 256px;
    padding-top: 42px;
    padding-bottom: 48px;
    text-align: center;
    text-transform: uppercase;
}

.reason-first {
    width: 320px;
    margin: 0 auto;
    position: relative;
}

.reason-first__decorate-element {
    width: 320px;
    height: 0;
    position: relative;
}

.reason-first__decorate-element:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-right: 135px solid #81b3d2;
    border-bottom: 0px solid #81b3d2;
    position: absolute;
    top: -13px;
    right: 0;
}

.reason-first__decorate-element:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-left: 135px solid #81b3d2;
    border-bottom: 0px solid #81b3d2;
    position: absolute;
    top: -13px;
    left: 0;
}

.reason-first__about {
    width: 320px;
    margin: 0 auto;
    background-color: #81b3d2;
}

.reason-first__about h3,
.reason-first__about p {
    text-align: center;
    margin: 0;
}

.reason-first__about h3 {
    padding-top: 15px;
}

.reason-first__about p:last-child {
    width: 238px;
    padding-bottom: 44px;
    margin: 0 auto;
}

.reason-first__img {
    display: block;
    width: 320px;
    height: 260px;
    margin: 0 auto;
}

.reason-first__list {
    width: 268px;
    margin: 0 auto;
}

.reason-first__item {
    padding-left: 60px;
}

.reason-first__item p,
.reason-first__item h3 {
    text-transform: uppercase;
}

.reason-first__item p {
    width: 240px;
}

.reason-first__item h3 {
    font-size: 18px;
    line-height: 24px;
}

.reason-second {
    width: 320px;
    margin: 0 auto;
}

.reason-second__about {
    width: 320px;
    margin: 0 auto;
    background-color: #81b3d2;
}

.reason-second__img {
    margin: 0 auto;
}

.reason-second__about h3,
.reason-second__about p {
    text-align: center;
    color: #ffffff;
}

.reason-second__about h3 {
    padding-top: 32px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.reason-second__about p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.reason-second__about p:last-child {
    width: 240px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.reason-second__img {
    width: 320px;
    height: 260px;
    margin: 0 auto;
}

.reason-another {
    width: 320px;
    margin: 0 auto;
    background-color: #eeeeee;
}

.reason-another h3 {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}

.reason-another p {
    text-transform: uppercase;
}

.reason-third,
.reason-fourth,
.reason-fifth {
    padding-top: 32px;
}

.reason-third p,
.reason-fourth p,
.reason-fifth p {
    padding-bottom: 32px;
}

.reason-third h3,
.reason-third p {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}

.reason-third p:last-child {
    border-bottom: 2px solid #d6d6d6;
}

.reason-fourth h3,
.reason-fourth p {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}

.reason-fourth p:last-child {
    border-bottom: 2px solid #d6d6d6;
}

.reason-fifth h3,
.reason-fifth p {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}


.interest {
    width: 300px;
    margin: 0 auto;
}

.interest h2 {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;

    text-transform: uppercase;
}

.interest p {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}


.interest button {
    display: block;
    width: 282px;
    padding-top: 17px;
    padding-bottom: 22px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    cursor: pointer;
}

.map {
    display: block;
    width: 320px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 42px;
}

@media (min-width: 768px) /* Tablet */ {
    main {
        width: 768px;
        margin: 0 auto;
    }

    .main__decorate-element {
        width: 768px;
        height: 0px;
        margin: 0 auto;
        position: relative;
    }

    .main__decorate-element:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 56px solid transparent;
        border-right: 288px solid #ffffff;
        border-bottom: 0px solid #ffffff;
        position: absolute;
        top: -90px;
        right: 0px;
    }

    .main__decorate-element:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 56px solid transparent;
        border-left: 288px solid #ffffff;
        border-bottom: 0px solid #ffffff;
        position: absolute;
        top: -90px;
        left: 0px;
    }

    .main__second-decorate {
        width: 768px;
        height: 0px;
        margin: 0 auto;
        position: relative;
    }

    .main__second-decorate:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 56px solid transparent;
        border-right: 288px solid #ffffff;
        border-bottom: 0px solid #ffffff;
        position: absolute;
        bottom: 50px;
        right: 60px;
    }

    .main__second-decorate:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 56px solid transparent;
        border-left: 288px solid #ffffff;
        border-bottom: 0px solid #ffffff;
        position: absolute;
        bottom: 50px;
        left: 50px;
    }

    .main-title {
        width: 728px;
    }

    .main-title h1 {
        width: 450px;
        font-size: 21px;
        line-height: 26px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .main-title p {
        width: 500px;
        margin: 0 auto;
    }

    .reason-first__decorate-element {
        display: none;
    }

    .reason-first {
        width: 768px;
        display: flex;
    }

    .reason-first__about {
        text-align: center;
        width: 256px;
        height: 256px;
        background-color: #81b3d2;
        margin: 0;
    }

    .reason-first__img {
        width: 512px;
        height: 256px;
        margin: 0;
    }

    .reason-first__list {
        width: 768px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .reason-first__item {
        padding: 0;
        text-align: center;
    }

    .reason-first__item p {
        width: 170px;
    }

    .reason-second {
        width: 768px;
        margin: 0 auto;
        display: flex;
    }

    .reason-second__about {
        order: 2;
        width: 256px;
        height: 256px;
        margin: 0;
        background-color: #81b3d2;
    }

    .reason-second__img {
        width: 512px;
        height: 256px;
        margin: 0;
    }

    .reason-another {
        height: 257px;
        width: 768px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .reason-another p {
        width: 170px;
        border: none;
    }

    .reason-another p:last-child {
        border: none;
    }

    .interest {
        width: 768px;
    }

    .interest {
        margin: 0 auto;
    }

    .interest h2 {
        font-size: 30px;
        margin-top: 60px;
    }

    .interest p {
        margin-top: 40px;
    }

    .interest button {
        width: 458px;
        margin-bottom: 66px;
        margin-top: 54px;
    }

    .map {
        width: 768px;
    }
}


@media (min-width: 1024px) /* Desktop */ {
    main {
        width: auto;
        padding: 0 40px;
    }

    .reason-first__img {
        width: 800px;
        height: 256px;

    }

    .reason-second {
        width: 1024px;
        height: 250px;
    }

    .reason-second__about {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reason-second__img {
        width: 800px;
        height: 256px;
    }
    .reason-another{
        width: 1024px;
        justify-content: space-around;
    }

    .interest {
        margin: 0 auto;
    }

    .interest h2 {
        font-size: 30px;
        margin-top: 60px;
    }

    .interest p {
        margin-top: 40px;
    }

    .interest button {
        width: 458px;
        margin-bottom: 66px;
        margin-top: 54px;
    }

    .map {
        width: 1024px;
    }
}