
.main__wrapper {
    width: 288px;
    padding: 0 16px;
    margin: 0 auto;
}

.main-title {
    width: 268px;
    margin: 0 auto;
}

.main-title__decorate-element {
    width: 268px;
    height: 0;
    margin: 0 auto;
    position: relative;
}

.main-title__decorate-element:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right: 170px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    position: absolute;
    top: -40px;
    right: -26px;
}

.main-title__decorate-element:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-left: 170px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    position: absolute;
    top: -40px;
    left: -26px;
}

.main-title h1 {
    width: 268px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-title p {
    margin: 0 auto;
    text-align: center;
    width: 256px;
    padding-top: 42px;
    padding-bottom: 48px;
    text-transform: uppercase;
}

.reason-first {
    width: auto;
    margin: 0 auto;
    position: relative;
}

.reason-first__decorate-element {
    width: 268px;
    height: 0;
    margin: 0 auto;
    position: relative;
}

.reason-first__decorate-element:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-right: 120px solid #81b3d2;
    border-bottom: 0px solid #81b3d2;
    position: absolute;
    top: -14px;
    right: 0;
}

.reason-first__decorate-element:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-left: 120px solid #81b3d2;
    border-bottom: 0px solid #81b3d2;
    position: absolute;
    top: -14px;
    left: 0;
}

.reason-first__about {
    width: 268px;
    margin: 0 auto;
    background-color: #81b3d2;

}

.reason-first__about h3,
.reason-first__about p {
    text-align: center;
    margin: 0;
}

.reason-first__about h3 {
    padding-top: 15px;
}

.reason-first__about p:last-child {
    width: 238px;
    padding-bottom: 44px;
    margin: 0 auto;
}

.reason-first__img {
    width: 320px;
    height: 260px;
    background-image: url("../img/reason-first__back-city.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
}

.reason-first__list {
    width: 268px;
    margin: 0 auto;
}

.reason-first__item {
    padding-left: 60px;
}

.reason-first__item p,
.reason-first__item h3 {
    text-transform: uppercase;
}

.reason-first__item p {
    width: 240px;
}

.reason-first__item h3 {
    font-size: 18px;
    line-height: 24px;
}

.reason-second {
    width: 100%;
    margin: 0 auto;
}

.reason-second__about {
    width: 320px;
    margin: 0 auto;
    background-color: #81b3d2;
}

.reason-second__about h3,
.reason-second__about p {
    text-align: center;
    color: #ffffff;
}

.reason-second__about h3 {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.reason-second__about p {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.reason-second__about p:last-child {
    width: 240px;
    margin: 0 auto;
}

.reason-second__img {
    width: 320px;
    height: 260px;
    margin: 0 auto;
    background-image: url("../img/reason-seconde__back-bridge.jpg");
    background-repeat: no-repeat;
}

.reason-another {
    background-color: #eeeeee;
}

.reason-another h3 {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}

.reason-another p {
    text-transform: uppercase;
}

.reason-third h3,
.reason-third p {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}

.reason-third p:last-child {
    border-bottom: 2px solid #d6d6d6;
}

.reason-fourth h3,
.reason-fourth p {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}

.reason-fourth p:last-child {
    border-bottom: 2px solid #d6d6d6;
}

.reason-fifth h3,
.reason-fifth p {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}


.interest {
    width: 300px;
    margin: 0 auto;
}

.interest h2 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.interest p {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.interest h2,
.interest p {
    text-align: center;
    margin: 0 auto;
}

.interest button {
    width: 280px;
    padding-top: 17px;
    padding-bottom: 22px;
    display: block;
    margin: 0 auto;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    cursor: pointer;
}


@media (min-width: 768px) /* Tablet */ {
    main {
        width: auto;
        padding: 0 20px;
    }

    .main-title {
        min-width: 500px;
    }

    .main-title p {
        min-width: 490px;
    }

    .reason-first {
        display: flex;
        justify-content: center;
    }

    .reason-first__about {
        text-align: center;
        width: 256px;
        height: 256px;
        background-color: #81b3d2;
    }


    .reason-first__list {
        width: 768px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .reason-first__item {
        padding: 0;
    }

    .reason-second {
        width: 768px;
        margin: 0 auto;
        display: flex;
    }

    .reason-second__about {
        order: 2;
        text-align: center;
        width: 256px;
        height: 256px;
        background-color: #81b3d2;
    }

    .reason-another {
        height: 257px;
        width: 768px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

@media (min-width: 1024px) /* Desktop */ {
    main {
        width: auto;
        padding: 0 40px;
    }
}