@media (min-width: 320px) /* Mobile */ {
    main {
        width: auto;
        padding: 0 16px;
    }

    .main-title {
        padding-top: 68px;
        width: 300px;
        margin: 0 auto;

    }

    .main-title h1 {
        margin: 0;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .main-title p {
        margin: 0 auto;
        text-align: center;
        width: 256px;
        padding-top: 42px;
        padding-bottom: 48px;
        text-transform: uppercase;
    }


    .reason-first__about h3,
    .reason-first__about p{
       text-align: center;
    }
.reason-first__about p{
    width: 238px;
    margin: 0 auto;
}
    .reason-first__item{
        padding-left: 60px;
    }
    .reason-first__item p,
    .reason-first__item h3{
        text-transform: uppercase;
    }
    .reason-first__item p{
        width: 240px;
    }
    .reason-first__item h3{
        font-size: 18px;
        line-height: 24px;
    }

    .reason-second__about h3,
    .reason-second__about p{
    text-align: center;
    }
    .reason-second__about p:last-child{
        width: 240px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) /* Tablet */ {
    .main-title {
        min-width: 500px;
    }

    .main-title p {
        min-width: 490px;
    }
}